@font-face {
    font-family: "cardillac_bold";
    src: url(../fonts/Hoftype\ -\ Cardillac\ Bold.otf);
}

@font-face {
    font-family: "cardillac_medium";
    src: url(../fonts/Hoftype\ -\ Cardillac\ Medium.otf);
}

@font-face {
    src: url(../fonts/Sarabun-Light.ttf);
    font-family: "srb_light";
}

@font-face {
    font-family: "semi-bold";
    src: url(../fonts/Sarabun-Light.ttf);
}

@font-face {
    src: url(../fonts/Sarabun-Medium.ttf);
    font-family: "srb_medium";
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 4;
}


html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

/* Heading content */

#heading {
    width: 100%;
    border: 17px solid #fff;
    height: 98vh;
    border-bottom: none;
    position: relative;
}

.heading-container {
    background: url(https://dashlibulag.az/storage/s74CK21eqf8PwtENpCzVvmicCYFCXnvLwVVNuV2N.png) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 85%);
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.heading-container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: -1;
}




.container {
    width: 1140px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    position: relative;
}

.row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-10 {
    margin: auto;
    width: calc((100% / 12)*10);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-7 {
    margin: auto;
    text-align: center;
    width: calc((100% / 12)*7);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


.col-4 {
    margin: auto;
    text-align: center;
    width: calc((100% / 12)*4);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


/* Page title */
.page-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
}

.gold-color {
    color: #CD931F !important;
    position: relative;
    margin-left: 10px;
}

.page-title::after {
    content: "";
    position: absolute;
    width: 40px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background: #ffffff;
}

.page-title div {
    font-size: 40px;
    font-weight: normal;
    line-height: normal;
    display: inline-block;
    font-family: "cardillac_bold";
    text-align: center;
}


.page-explanation {
    line-height: 26px;
    font-size: 18px;
    font-family: "sarabun_light";
    color: #7b7b7b;
}



/* Header content */

#header {
    width: 100%;
    height: 78px;
    padding: 18px 0px;
    position: absolute;
    /* background: #232323; */
}


#header .container .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header .container .navbar .navbar-brand {
    display: block;
    height: 100%;
}

#header .container .navbar .navbar-nav {
    display: flex;
    position: relative;
    align-items: center;
}

.display-none {
    display: none;
}

.dropdown-li {
    display: inline-block !important;

}



#header .container .navbar .navbar-nav li {
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    list-style: none;
}

#header .container .navbar .navbar-nav li::after {
    position: absolute;
    bottom: -6px;
    content: "";
    width: 0%;
    height: 2px;
    background: #CD931F;
    left: 0;
    transition: linear 0.4s;
}

#header .container .navbar .navbar-nav .no-li::after {
    display: none !important;
}

#header .container .navbar .navbar-nav li:hover::after {
    width: 100%;
}

#header .container .navbar .navbar-nav li a {
    font-size: 16px;
    color: #ffffff;
    font-family: "cardillac_medium";
    text-decoration: none;
}

.btn-gold {
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 5767 !important;
    color: #ffffff;
    font-family: "cardillac_bold";
    background: #CD931F;
}

.btn-gold::after {
    content: "";
    position: absolute;
    transform: rotate(-65deg);
    opacity: 0.15;
    left: -100%;
    top: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transition: linear 0.4s;
}

.btn-gold:hover::after {
    left: 100%;
    transition: 0.5s;
    z-index: 99;
}

.dropdown {
    background: #CD931F;
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    padding: 0px 12px;
    transition: linear 0.3s;
    margin-top: 8px;
    z-index: 68;
    border-radius: 1px;
}

.dropdown-li:hover .dropdown {
    padding: 10px 12px;
    max-height: 90px;
}

.dropdown li {
    margin-left: 0px !important;
}

.dropdown li a {
    font-size: 14px;
    font-family: "cardillac_bold";
    transition: 0.3s;
    color: #ffffff;
}

.dropdown li a:hover {
    text-decoration: underline !important;
}


.social-icon-contaier {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 48;
}

.mobil-information-block-social-media {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}



.mobil-information-block-social-media a {
    margin-bottom: 20px;
}

.mobil-information-block-social-media a img {
    filter: brightness(0) invert(1);
    transition: 0.6s;
}

.mobil-information-block-social-media a:hover img {
    filter: none;
}
/* Burger Menu content */

#mySidenav {
    display: none;
}

/* Animation scroll div */

.scroll-div {
    width: 100%;
    height: 51px;
    position: absolute;
    bottom: 90px;
    z-index: 999;
    /* background-color: aqua; */
}


.mouse {
    width: 35px;
    height: 51px;
    animation: colorSlide 2s linear infinite, nudgeMouse 5s ease-out infinite;
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    background-size: 100% 200%;
    border-radius: 100px;
    position: relative;
    margin: auto;
    cursor: pointer;
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(8px);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(8px);
    }

    90% {
        transform: translateY(0);
    }

}


@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background: #4e5559;
    }

    29.99% {
        background: #ffffff;
        background-position: 0% 0%;
    }

    30% {
        background: #4e5559 !important;
        background-position: 0% 100% !important;
    }

    50% {
        background-position: 0% 0% !important;
    }

    51% {
        background: #4e5559 !important;
    }

    59% {
        background: #ffffff;
        background-position: 0% 0%;
    }

    60% {
        background: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background: #4e5559;
    }

    90%, 100% {
        background: #ffffff;
    }


}


.mouse::before {
    content: "";
    width: 33px;
    height: 47px;
    background: #222a30;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mouse::after {
    top: 5px;
    width: 5px;
    height: 5px;
    content: "";
    border-radius: 100%;
    position: absolute;
    left: 43%;
    right: 0;
    bottom: 0;
    background: #ffffff;
    animation: trackBallSlide 1s linear infinite;
}

@keyframes trackBallSlide {
    0% {
        top: 5px;
    }

    20%{
        top: 15px;
        width: 5px;
        height: 5px;
    }

    
    60%{
        top: 25px;
        width: 5px;
        height: 5px;
    }

    
    80%{
        top: 35px;
        width: 5px;
        height: 5px;
    }


    100% {
        top: 40px;
        width: 1px;
        height: 1px;
    }

}



.mouse a {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s
}

/* Section content */

#section-content {

    width: 100%;
    margin-bottom: 40px;
}

#section-content>.container {
    padding-right: 15px;
    padding-left: 15px;
}

#section-content>.container>.row {
    height: 100%;
}


#section-content .container>.row .col-10 {
    height: 100%;
}


#section-content .container>.row .col-10 .video-content {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 40px;
    position: relative;
}
.video-js[tabindex="-1"]{
    width: 100%;
    height: 100%;
}

.video-js .vjs-control-bar{
    background: darkred !important;
    position: absolute;
    width: 270px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px !important;
}

.vjs-poster{
    background: none !important;
}
.vjs-progress-control.vjs-control{
    background: none;
}
.video-js .vjs-progress-control{
    display: none !important;
}
button.vjs-picture-in-picture-control.vjs-control.vjs-button, button.vjs-fullscreen-control.vjs-control.vjs-button, .vjs-remaining-time.vjs-time-control.vjs-control, .vjs-volume-control.vjs-control.vjs-volume-horizontal{
    display: none !important;
}

button.vjs-big-play-button{
    height: 90px !important;
    width: 90px !important;
    border-radius: 100% !important;
    background: #ffffff !important;
    padding: 20px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: none;    
}

span.vjs-icon-placeholder{
    color: #CD931F !important;
}

button.vjs-mute-control.vjs-control.vjs-button.vjs-vol-3, button.vjs-mute-control.vjs-control.vjs-button.vjs-vol-0{
    width: 60px !important;
    height: 60px !important;
    background: #ffffff;
    padding: 20px !important;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-content .container>.row .col-10 .video-content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
}

#section-content .container>.row .col-10 video::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.4);
    content: "";
}


#section-content .container>.row .col-10>.row:last-of-type .col-4 {
    height: 100%;
}

[class*="number-content"] {
    display: flex;
    background-repeat: no-repeat !important;
    flex-direction: column;
    justify-content: center;
    background-position-x: 29% !important;
    height: 100%;
    width: 100%;
    background-position-y: 5% !important;
}

.number-content-3 {
    background: url(https://dashlibulag.az/storage/148/oJK53DaqDH-location.svg);
}

.number-content-2 {
    background: url(https://dashlibulag.az/storage/147/6g8JsdC13U-K.svg);
}

.number-content-1 {
    background: url(https://dashlibulag.az/storage/146/ZJsXqzrJp1-language.svg);
}


[class*="number-content"] h1 {
    font-size: 75px;
    margin-top: 60px;
    font-family: "cardillac_bold";
    line-height: 65px;
    color: #CD931F;
    text-align: center;
}

[class*="number-content"] p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 30px;
    font-family: "srb_medium";
    color: #000000;
    font-weight: 400;
}

/* Section main */

.section-main {
    width: 100%;
    position: relative;
    height: 1850px;
    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
}

.main {
    width: 100%;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
    background: #f1f4f7;
    z-index: -1;
}

#first-content {
    padding-top: 160px;
    width: 100%;
    z-index: 2;
}


#first-content .container {
    padding: 0 15px;
}

.article-information {
    height: 500px;
    padding-left: 100px;
    margin-top: 60px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 100px;
    object-fit: cover;
    position: relative;
    display: flex;
    background: #ffffff;
}

.mobil-article-information {
    display: none;
}

.information-text {
    padding-right: 15px;
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
    height: 530px;
    position: relative;
    margin-top: 70px;
    display: block;
}


.information-text h2 {
    line-height: 35px;
    font-family: "cardillac_medium";
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 400;
    color: #000000;
}

.information-text .page-title::after {
    content: "";
    position: absolute;
    width: 40px;
    top: 0;
    left: 20px;
    height: 1px;
    background: black;
}

/* Page title */
.page-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
}

.gold-color {
    color: #CD931F;
    position: relative;
    margin-left: 10px;
}

.page-title::after {
    content: "";
    position: absolute;
    width: 40px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background: black;
}

.page-title div {
    font-size: 40px;
    font-weight: normal;
    line-height: normal;
    display: inline-block;
    font-family: "cardillac_bold";
    text-align: center;
    color: #232323;
}

.carousel-text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "sarabun_light";
}

.information-image {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.image-container {
    width: 100%;
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
    height: 100%;
}

.information-image .image-container img {
    height: 500px;
    object-fit: cover !important;
    width: 100%;
}

#last-content {
    margin-top: 100px;
    padding-bottom: 240px;
    position: relative;
    width: 100%;
}

#last-content {
    padding: 0 15px;
}

.about-water {
    margin-top: 0px;
    padding-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
}

.about-water-block-mobil {
    display: none;
}

.about-water .container {
    width: 100%;
    padding: 0 15px;
}

.about-water-block {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
}

.about-water .water-image {
    position: absolute;
    left: 0;
    z-index: 10;
    bottom: -60px;
}

.first-div {
    background: #dfe4e8;
    width: 80%;
    z-index: 4;
    height: 360px;
    margin: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.text-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.brt {
    font-family: "cardillac_bold";
    font-size: 24px;
    color: #000;
    line-height: 30px;
    margin-bottom: 30px;
}

.element-list {
    display: flex;
    align-items: center;
}

.element-list div {
    width: 100%;
    flex: 0 0 35%;
    max-width: 35%;
}

.element-list div span {
    font-family: "sarabun_light";
    color: #000000;
    line-height: 22px;
    margin-bottom: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
}


.element-list div span:hover {
    font-weight: bold;
    text-decoration: underline;
}

.ikinci span {
    display: block;
}

.element-list div:nth-of-type(1) {
    height: 150px;
}

.element-list div:nth-of-type(2) {
    height: 165px;
}


.secondary-div {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    z-index: 20;
    transform: translateY(-50%);
    right: 20px;
}

.secondary-div::after {
    background: linear-gradient(#efc64a, #f6f39c, #ad7700);
    width: 200px;
    height: 320px;
    position: absolute;
    top: 50%;
    right: -12px;
    content: "";
    transform: translateY(-50%);
    clip-path: polygon(35% 0%, 100% 0%, 65% 100%, 0% 100%);
}

.black {
    width: 409px !important;
    height: 400px;
    background: #232323;
    clip-path: polygon(80px 0%, 100% 0%, 79% 100%, 0% 100%);
    position: absolute;
    z-index: 44;
    display: flex;
    justify-content: center;
}


#calcium {
    opacity: 1;
}

.black div {
    width: 240px;
    height: 400px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity 0.7s;
    opacity: 0;
}

.black div p {
    font-size: 40px;
    font-family: "cardillac_bold";
    cursor: pointer;
    color: #fff;
}

/* Footer */

#footer {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

#footer>.container {
    height: auto;
    padding: 0 15px;
}

.col-10 {
    width: calc((100% / 12)*10);
    margin: auto;
    padding: 0 15px;
    color: #ffffff;
}

.row .col-10 #footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-col-2 ul li a,
span {
    font-size: 16px;
    color: rgba(35, 35, 35, 0.45);
    text-decoration: none;
    display: block;
    font-family: "srb_light";
    line-height: 25.6px;
    transition: all 0.3s;
}

.footer-col-2 ul li a:hover {
    color: #000000;
}

.footer-col-2 p {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 38.4px;
    color: #000000;
    font-family: "cardillac_bold";
    font-weight: 400 !important;
}

/* footer-in content */

.footer-in {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 49px;
    background: #232323;
    margin-top: 120px;
    padding: 14px 0px;
}

.footer-in-link {
    display: block;
    height: 21px;
}

.footer-in-link img {
    width: 120px;
}


/* Modal content */
#myModal {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    visibility: hidden;
    opacity: 0;
    border: none;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    transition: all 0.6s;
}

#myModal .modal-content input:valid ~ label{
    color: #000;
    opacity: 24%;
    font-size: 12px;
    position: absolute;
    font-family: 'cardillac_bold';
    top: -16px;
}

.modal-header {
    height: 62px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 820px;
    height: 395px;
    background: #ffffff;
    transform: translate(-50%, -50%);
    padding: 40px 100px;
    text-align: center;
    transition: all 0.4s;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}



.close img {
    filter: brightness(0) invert(0);
    cursor: pointer;
}


.modal-heading div {
    line-height: normal;
    display: inline-block;
    font-weight: normal;
    font-family: "cardillac_bold";
}

#modal-form {
    width: 85%;
    padding: 27px 0;
    display: block;
    margin: auto;
}


.modal-form-input {
    display: flex;
    justify-content: space-between;
}

.modal-form-input div {
    width: 49%;
    position: relative;
    margin-bottom: 32px;
    text-align: left;
}

#myModal .modal-content .page-title::after{
    background-color: #ffffff;
}

.modal-form-input input {
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    font-size: 16px;
    outline: none;
    padding: 10px 0px;
    width: 100%;
    text-align: left;
}

.modal-form-input label {
    color: #000000;
    position: absolute;
    top: 10px;
    font-family: "cardillac_bold";
    font-size: 18px;
    transition: all 0.2s;
}

.modal-form-input div input:focus~label {
    color: #000;
    opacity: 24%;
    font-size: 12px;
    position: absolute;
    font-family: 'cardillac_bold';
    top: -16px;
}


.modal-form-input div:last-of-type input:focus .modal-form-input div:first-of-type label {
    color: #000;
    opacity: 24%;
    font-size: 12px;
    position: absolute;
    font-family: 'cardillac_bold';
    top: -16px;
}

.modal-form-input input:focus input {
    outline: none;
}

.btn-modal {
    width: 100%;
    background: #232323;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    font-family: "cardillac_bold";
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    position: relative;
}

.btn-modal::after {
    content: "";
    left: -100%;
    top: 0px;
    background-color: #fff;
    width: 100px;
    height: 40px;
    transform: rotate(-65deg);
    opacity: 0.15;
    position: absolute;
    transition: linear 0.4s;
    overflow: hidden;
}

.btn-modal:hover::after {
    left: 100%;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

.modal-parag p {
    font-family: 'cardillac_bold';
    font-size: 14px;
    color: #000000;
    opacity: 24%;
    text-decoration: underline;
    margin-top: 40px !important;
}










@media (max-width:575px) {
    #heading {
        width: 100%;
        border: 17px solid #fff;
        height: 84vh;
    }

    .heading-container {
        height: 543px;
    }

    .social-icon-contaier {
        display: none;
    }

    #header {
        height: 71px;
        position: absolute;
        padding: 20px 0 !important;
        top: 0;
        width: 100%;
    }

    #header .container .navbar .navbar-nav li {
        display: none;
        margin-left: 20px;
    }


    #header .container .navbar .navbar-nav {

        display: flex;
        position: relative;
        align-items: center;
    }

    #header .container .navbar {
        padding-left: 20px;
        padding-right: 20px;
        height: 31px !important;
    }

    .navbar-brand img {
        width: 120px;
        height: 26px;
        filter: brightness(0);
    }

    .dropdown li {
        display: inline-block !important;
    }

    .dropdown-li {
        display: inline-block !important;
    }

    #dropdown-link {
        color: black !important;
    }

    .display-none {
        display: inline-block !important;
    }

    /* section-content */

    #section-content {
        margin-top: 50px;
    }

    .container {
        width: 100%;

    }

    .about-water {
        display: none;
    }

    [class*="col-"] {
        width: 100%;
    }

    .row {
        height: auto;
    }

    /* Page title */

    .page-title {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        padding-top: 10px;
        display: inline-block;
    }

    .gold-color {
        color: #CD931F;
        position: relative;
        margin-left: 10px;
    }

    .page-title::after {
        content: "";
        position: absolute;
        width: 40px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 1px;
        background: black;
    }

    .page-title div {
        font-weight: normal;
        display: inline-block;
        font-family: "cardillac_bold";
        text-align: center;
        font-size: 30px;
        line-height: 35px
    }

    .page-explanation {
        font-size: 16px;
        line-height: 22px;
    }


    #section-content .container>.row .col-10 .video-content {
        height: 154px;
        margin-bottom: 60px;
    }

    .article-information {
        display: none;
    }

    /* mobil-article-information */

    .mobil-article-information {
        width: 100%;
        margin: 0 auto;
        background: #ffffff;
        /* height: 534px; */
        display: block;
        margin-top: 10px;
    }

    .mobil-information-text {
        padding: 20px 12px !important;
    }

    .mobil-information-text h3 {
        font-size: 22px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 10px;
        font-family: "cardillac_medium";
        font-weight: 400;
    }


    .mobil-information-container {
        width: 100%;
        height: 100%;
    }

    .mobil-information-text .carousel-text {
        font-size: 14px;
    }

    .page-title {
        margin-bottom: 10px !important;
    }

    .page-title div {
        font-size: 30px;
        line-height: 35px;
    }

    .mobil-information-text {
        padding-top: 70px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 20px;
    }

    .carousel-text {
        margin-bottom: 10px;
    }

    .mobil-information-image {
        height: 220px;
    }

    .image-container {
        width: 100%;
        /* background-color: purple; */
        padding-left: 0px;
        clip-path: none;
    }

    .image-container img {
        height: 220px;
        width: 100%;
    }

    #first-content {
        padding-top: 88px;
    }

    #last-content {
        margin-top: 60px;
        padding-bottom: 60px;
    }

    .section-main {
        border-left: 10px solid #ffffff;
        border-right: 10px solid #ffffff;
        padding-bottom: 70px !important;
        margin-top: 30px;
        padding-top: 30px !important;
        height: 100%;
    }


    [class*="number-content"] {
       margin-bottom: 40px;
       background-position-x: 40% !important;
    }

    [class*="number-content"] p {
        font-size: 18px;
    }


    /* Main content */

    .main {
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
    }

    .about-water-block-mobil {
        /* height: 422px; */
        background: azure;
        width: 100%;
        display: block;
        margin-top: 40px !important;

    }

    .mobil-water {
        position: relative;
    }

    .mobil-water:last-of-type {
        border-bottom: none;
    }

    .mobil-water-heading {
        padding: 7px 15px;
        background: #DFE4E8;
        font-size: 20px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobil-water-heading span {
        line-height: 32px;
        color: #000;
        /* font-weight: bold; */
        font-size: 20px;
        font-family: sans-serif;
    }

    .water-block {
        width: 100%;
        padding: 0px 15px;
        height: 0px;
        overflow-x: hidden;
        background-color: #D3D7DB;
        border: 1px solid #ddd;
        transition: ease-in-out .3s;
        font-family: "sarabun_light";
        font-size: 12px;
        color: #232323;
        line-height: 21px;
    }

    .radio-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .radio-input:checked~.water-block {
        padding: 20px 15px;
        height: auto;
        width: 100%;
        display: block;
    }

    .radio-input:checked~.mobil-water-heading {
        background: #000;
        color: #ffffff;
    }

    .radio-input:checked~.mobil-water-heading span {
        color: #ffffff;
        font-family: sans-serif;
        font-size: 20px;
    }

    .reset {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
    }

    .radio-input:checked~.reset {
        overflow: visible;
        height: 100%;
    }

    /* mySidenav */
    #mySidenav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        display: block;
        background: #ffffff;
        transition: 0.6s;
    }

    #mySidenav .container {
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }

    #mySidenav .container .burger {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #mySidenav .container .burger .responsive-navbar-brand {
        margin-top: 24px;
    }

    .burger #closebtn {
        position: absolute;
        display: block;
        right: 30px;
        top: 30px;
        z-index: 2;
    }

    #mySidenav .container .burger .responsive-navbar-brand img {
        width: 120px;
        height: 26px;
    }

    #mySidenav .container .burger-item {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #mySidenav .container .burger-item ul {
        position: absolute;
        top: 20%;
        left: 40%;
    }

    #mySidenav .container .burger-item ul li {
        margin-bottom: 20px;
        overflow: hidden;
    }

    #mySidenav .container .burger-item ul li:last-of-type {
        margin-bottom: 0px !important;
    }

    #mySidenav .container .burger-item ul li a {
        font-size: 14px;
        font-family: "cardillac_bold";
        font-weight: 500;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    }

    #mySidenav .container .burger-item ul li button {
        outline: none;
        border: none;
        font-size: 16px;
        background: none;
        cursor: pointer;
        color: #CD931F;
        font-family: "cardillac_bold";
        line-height: 24px;
    }

    #mySidenav .container .burger-item .burger-language {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 100px;
        display: flex;
        justify-content: center;
    }

    #mySidenav .container .burger-item .burger-language a {
        font-size: 14px;
        font-family: "cardillac-bold";
        color: #232323;
        line-height: 20px;
        margin-left: 30px;
        margin-right: 30px;
        font-weight: normal;
        text-decoration: none;
    }


    /* Footer content */
    #footer {
        width: 100%;
        padding-top: 50px;
        height: auto;
    }

    #footer>.container {
        width: 100%;
        height: auto;
    }

    .row {
        height: auto;
        margin-left: -15px;
        margin-right: -15px;
    }

    .row .footer-col-10 {
        width: 100%;
        margin: auto;
        padding: 0 15px;
        color: #ffffff;
    }

    .row .col-10 #footer-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column !important;
        width: 100%;
    }

    .footer-col-2 {
        height: auto;
    }

    .footer-col-2 ul li {
        list-style: none;
    }

    .footer-col-2 ul li a,
    span {
        font-size: 16px;
        color: rgba(35, 35, 35, 0.45);
        text-decoration: none;
        display: inline-block;
        font-family: "srb_light";
        line-height: 25.6px;
        transition: all 0.3s;
    }

    .footer-col-2 ul li a:hover {
        color: #000000;
        font-display: inline-block;
    }

    .footer-col-2 p {
        font-size: 16px;
        line-height: 25.6px;
        color: #000000;
        font-family: "cardillac_bold";
        font-weight: 400 !important;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* footer-in content */

    .footer-in {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 49px;
        background: #232323;
        margin-top: 60px;
        padding: 14px 0px;
    }

    .footer-in-link {
        display: block;
        height: 21px;
    }

    .footer-in-link img {
        width: 120px;
    }

    /* Modal content */
    .modal-content .page-title {
        height: 45px !important;
    }

    #myModal {
        position: fixed;
        top: 0;
        left: 0;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 467;
        transition: all 0.6s;
    }

    .modal-header {
        height: 62px;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        padding-top: 10px;
        display: inline-block;
    }

    .modal-content {
        position: absolute;
        left: 50%;
        width: 100%;
        top: 50%;
        height: 399px;
        background: #ffffff;
        transform: translate(-50%, -50%);
        padding: 20px 20px;
        text-align: center;
        transition: all 0.4s;
    }

    .modal-content .close {
        position: absolute;
        display: block;
        top: 45px !important;
    }



    .modal-heading div {
        line-height: normal;
        display: inline-block;
        font-weight: normal;
        font-family: "cardillac_bold";
    }

    #modal-form {
        width: 85%;
        padding: 27px 0;
        display: block;
        margin: auto;
    }

    .modal-form-input {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

    }

    .mobil-information-block label {
        display: block !important;
    }

    .modal-form-input div {
        width: 100%;
        position: relative;
        margin-bottom: 32px;
        text-align: left;
    }

    .modal-form-input input {
        border: none;
        border-bottom: 1px solid #000;
        display: block;
        font-size: 16px;
        outline: none;
        padding: 10px 0px;
        width: 100%;
        text-align: left;
    }

    .modal-form-input label {
        color: #000000;
        position: absolute;
        top: 10px;
        font-family: "cardillac_bold";
        font-size: 18px;
        transition: all 0.2s;
    }

    .modal-form-input input:focus~label {
        color: #000;
        opacity: 24%;
        font-size: 12px;
        position: absolute;
        font-family: 'cardillac_bold';
        top: -16px;
    }

    .modal-form-input input:focus input {
        outline: none;
    }

    .btn-modal {
        width: 100%;
        background: #232323;
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        overflow: hidden;
        font-family: "cardillac_bold";
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        outline: none;
        position: relative;
    }

    .btn-modal::after {
        content: "";
        left: -100%;
        top: 0px;
        background-color: #fff;
        width: 100px;
        height: 40px;
        transform: rotate(-65deg);
        opacity: 0.15;
        position: absolute;
        transition: linear 0.4s;
        overflow: hidden;
    }

    .btn-modal:hover::after {
        left: 100%;
        overflow: hidden;
        transition: 0.5s;
        z-index: 10;
    }

    .modal-parag p {
        font-family: 'cardillac_bold';
        font-size: 14px;
        color: #000000;
        opacity: 24%;
        line-height: 22.4px;
        margin-top: 40px !important;
    }

}